Localization
{
	en-us
	{
		#autoLOC_SCANsat_Analyze = Analyze Data
		#autoLOC_SCANsat_StartScan = Start Scan 
		#autoLOC_SCANsat_StopScan = Stop Scan
		#autoLOC_SCANsat_ToggleScan = Toggle Scan
		#autoLOC_SCANsat_Extend = Extend
		#autoLOC_SCANsat_Retract = Retract
		#autoLOC_SCANsat_Unknown = Unknown
		#autoLOC_SCANsat_All_Disabled = All Scanning Disabled
		#autoLOC_SCANsat_Disabled = Scanning Disabled
		#autoLOC_SCANsat_TooLow = Too Low
		#autoLOC_SCANsat_SubOptimal = Sub-Optimal
		#autoLOC_SCANsat_Ideal = Ideal
		#autoLOC_SCANsat_TooHigh = Too High
		#autoLOC_SCANsat_NoData = No Data
		#autoLOC_SCANsat_Abundance = Abundance
		#autoLOC_SCANsat_Surface = Surf
		#autoLOC_SCANsat_AltitudeMin = Altitude ( min): <<1>>km\n
		#autoLOC_SCANsat_AltitudeBest = Altitude (best): <<1>>km\n
		#autoLOC_SCANsat_AltitudeMax = Altitude ( max): <<1>>km\n
		#autoLOC_SCANsat_FOV = FOV: <<1>>
	}
	de
	{
        	#autoLOC_SCANsat_Analyze = Daten Analysieren
        	#autoLOC_SCANsat_StartScan = Scan Starten
        	#autoLOC_SCANsat_StopScan = Scan Stoppen
        	#autoLOC_SCANsat_ToggleScan = Scan Ein/Aus
        	#autoLOC_SCANsat_Extend = Ausfahren
        	#autoLOC_SCANsat_Retract = Einfahren
		#autoLOC_SCANsat_Unknown = Unbekannt
        	#autoLOC_SCANsat_All_Disabled = Alle Scans Deaktiviert
        	#autoLOC_SCANsat_Disabled = Scans Deaktiviert
        	#autoLOC_SCANsat_TooLow = Zu Niedrig
        	#autoLOC_SCANsat_SubOptimal = Sub-Optimal
        	#autoLOC_SCANsat_Ideal = Ideal
        	#autoLOC_SCANsat_TooHigh = Zu Hoch
        	#autoLOC_SCANsat_NoData = Keine Daten
        	#autoLOC_SCANsat_Abundance = Ausbeute
        	#autoLOC_SCANsat_Surface = Oberfläche
        	#autoLOC_SCANsat_AltitudeMin = Höhe (min): <<1>>km\n
		#autoLOC_SCANsat_AltitudeBest = Höhe (ideal): <<1>>km\n
        	#autoLOC_SCANsat_AltitudeMax = Höhe (max): <<1>>km\n
        	#autoLOC_SCANsat_FOV = Sichtwinkel: <<1>>
	}
}
